<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.springbootmall.mapper.ProductMapper">

    <select id="getProductById" parameterType="int" resultType="Product">
        SELECT product_id,product_name,category,image_url,price,stock,description,created_date,last_modified_date FROM product WHERE product_id=#{productId}
    </select>

    <select id="getProducts" parameterType="com.jason.springbootmall.dto.ProductMyBatisParams" resultType="Product">
        SELECT product_id,product_name,category,image_url,price,stock,description,created_date,last_modified_date
        FROM product WHERE 1=1
        <if test="category != null">
            AND category=#{category}
        </if>
        <if test="search != null">
            AND product_name LIKE #{search}
        </if>
        ORDER BY ${orderByAndSort}
        limit #{limit}
        offset #{offset}
    </select>

    <select id="countProducts" parameterType="com.jason.springbootmall.dto.ProductMyBatisParams" resultType="Integer">
        SELECT count(*)
        FROM product WHERE 1=1
        <if test="category != null">
            AND category=#{category}
        </if>
        <if test="search != null">
            AND product_name LIKE #{search}
        </if>
    </select>

    <insert id="createProduct" parameterType="Product" keyProperty="productId" useGeneratedKeys="true">
        insert into product (product_name,category,image_url,price,stock,description,created_date,last_modified_date)
        values (#{productName},#{category},#{imageUrl},#{price},#{stock},#{description},#{createdDate},#{lastModifiedDate});
    </insert>

    <update id="updateProduct" parameterType="Product">
        update product set product_name=#{productName},category=#{category},image_url=#{imageUrl},price=#{price},
                           stock=#{stock},description=#{description},last_modified_date=#{lastModifiedDate}
        where product_id=#{productId}
    </update>

    <delete id="deleteProductById" parameterType="int">
        delete FROM product WHERE product_id=#{productId}
    </delete>
</mapper>